@import "tailwindcss";

:root {
  --color-text: rgba(255, 255, 255, 0.8);
  --color-primary: #181818;
  --color-secondary: #1f1f1f;
  --color-accent: #e50914;
}


html, body, #root {
  height: 100%;
  background-color: var(--color-secondary);
    color: rgba(255, 255, 255, 0.8);
}


h1{
  font-size: xx-large;
  font-weight: bold;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: var(--color-accent);
  cursor: pointer;
}

/* Scrollbar track (background) */
::-webkit-scrollbar {
  height: 3px; /* for horizontal scroll */
  width: 3px;  /* for vertical scroll */
  background-color: var(--color-accent);
  border-radius: 10px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary-hover, #888);
}

/* Optional: scrollbar corner (bottom-right corner in dual scroll areas) */
::-webkit-scrollbar-corner {
  background-color: var(--color-primary);
}

/* Optional: scrollbar arrows (not visible in most modern browsers, but okay to style) */
::-webkit-scrollbar-button {
  background-color: var(--color-secondary);
  display: none;
}

a.active {
  color: var(--color-accent);
}

button.active {
  background-color: var(--color-accent);
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color-accent);
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%,#0000 94%, #000);
  transform-origin: 50% 40%;
  animation: l25 1s infinite linear;
}
@keyframes l25 {
  100% {transform: rotate(1turn)}
}